/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MY LIBRARY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
html {
    --bg1:#f0f0f0;
    --bg2:#fff;
    --c3:#222222;
    --c4:#180c46;
    --c5:#3f3232;
    --c-p1:#000000;
    --b1:#fff;
    --b1-border:#06a4ff;
    --b1-hover:#06a4ff;
    --b1-border-hover:#fff;
    --white: #fff;
    --black:#000000;
    
}
html[data-theme=dark] {
    --bg1:#131313;
    --bg2:#000000;
    --c3:#fb0060;
    --c4:#fff;
    --c5:#373b3d;
    --c-p1:#fff;
    --b1:#fff;
    --b1-border:#373b3d;
    --b1-hover:#373b3d;
    --b1-border-hover:#fff;
    --white: #fff;
    --black:#000000;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Poppins', sans-serif;
}
h1{
    font-size:1.3rem;
    font-weight: bold;
}
h2{
    font-size:0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}
h3{
    font-size:2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
h4{
    font-size:1.5rem;
}
h5{
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
h6{
    font-size:0.8rem;
    margin-bottom: 0.2rem;
}
p,
ul,
ol,
li,
a,
blockquote,
figcaption,
span,
table,
tr,
td,
article,
details,
section,
header,
main,
footer{
    font-family:'Poppins', sans-serif;
    font-weight:400; /* REGULAR */
}

p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
/* -----------------------------------------------------------------------------------
---------------------------STRUCTURE ET POSITIONNEMENTS-------------------------------
-------------------------------------------------------------------------------------- */
.container{
    width:55%;
    padding: 0 0.5rem;
    margin:0 auto ;
}
.container-fluid{
    width: 100%;
}
.row{
    display:flex;
}
/* HELPERS */
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align:left;
}
.text-justify{
    text-align: justify;
}
.col-100{
    width: 100%;
}
.col-80{
    width: 80%;
}
.col-70{
    width: 70%;
}
.col-60{
    width: 60%;
}
.col-45{
    width: 45%;
}
.col-40{
    width: 40%;
}
.col-35{
    width: 35%;
}
.col-32{
    width: 32%;
}
.col-30{
    width: 30%;
}
.col-20{
    width: 20%;
}
/* HEADER */
.bg0{
    background-color: var(--bg1);
}
.general1{
    color: var(--c-p1);
    align-items: center;
    height: 10vh;
}
.title1{
    margin-left: 3rem;
}
ul{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bg1{
    background-color: var(--bg2);
}
.general2{
    height: 90vh;
    color: var(--c-p1);
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#auto-writer{
    font-size:0.8rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-left: 0.1rem;
}
.cursor {
    display: inline-block;
    background-color: var(--c-p1);
    width: 0.1rem;
    animation: blink 1s infinite;
}
@keyframes blink {
    0%  { background-color: var(--c-p1); }
    49% { background-color: var(--c-p1); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: var(--c-p1); }
}
.btn {
    background-color: var(--b1);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--b1-border);
}
.btn:hover {
    background-color: var(--b1-hover);
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--b1-border-hover);
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--b1-border);
	float: right;
	border-radius: 100px;
	position: relative;
    margin-right: 3rem;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--b1);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--b1-border);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}
.toaster {
    position: absolute;
    bottom: 0;
    right: 0;
}
.test {
    position: relative;
    background-color: var(--bg1);
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--c-p1);
}